<!DOCTYPE html>
<html>
<head>
  <style> body { margin: 0; } </style>

  <script src="https://unpkg.com/3d-force-graph"></script>
</head>

<body>
  <div id="3d-graph"></div>

  <script>

    const ntm = {{ data_film | safe }};

    console.log(ntm)

    const elem = document.getElementById('3d-graph');

    const Graph = ForceGraph3D()(elem)
      .graphData(ntm)
      .nodeLabel('title')
      .nodeAutoColorBy('cluster');
      //.nodeLabel(node => `${node.title}: ${node.overview}`);
      //.onNodeClick(node => window.open(`https://bl.ocks.org/${node.user}/${node.id}`, '_blank'));

  </script>
</body>
</html>
